<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ProductSkuMapper">

    <insert id="insertBatch" parameterType="list">
        insert into product_sku
        (product_id, sku_code, sku_name, spec_info, price, stock, locked_stock, status, sort, create_time, update_time, create_user, update_user)
        values
        <foreach collection="list" item="sku" separator=",">
            (#{sku.productId}, #{sku.skuCode}, #{sku.skuName}, #{sku.specInfo}, #{sku.price}, #{sku.stock}, #{sku.lockedStock},
             #{sku.status}, #{sku.sort}, #{sku.createTime}, #{sku.updateTime}, #{sku.createUser}, #{sku.updateUser})
        </foreach>
    </insert>

    <update id="update" parameterType="com.sky.entity.ProductSku">
        update product_sku
        <set>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="skuCode != null">sku_code = #{skuCode},</if>
            <if test="skuName != null">sku_name = #{skuName},</if>
            <if test="specInfo != null">spec_info = #{specInfo},</if>
            <if test="price != null">price = #{price},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="lockedStock != null">locked_stock = #{lockedStock},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser}</if>
        </set>
        where id = #{id}
    </update>

</mapper>
