<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserCouponMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user_coupon
        (user_id, coupon_template_id, coupon_code, coupon_status, order_id, receive_time, used_time, expire_time, create_time, update_time)
        values
        (#{userId}, #{couponTemplateId}, #{couponCode}, #{couponStatus}, #{orderId}, #{receiveTime}, #{usedTime}, #{expireTime}, #{createTime}, #{updateTime})
    </insert>
    <update id="update" parameterType="com.sky.entity.UserCoupon">
        update user_coupon
        <set>
            <if test="couponStatus != null">coupon_status = #{couponStatus},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="usedTime != null">used_time = #{usedTime},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <select id="listByUserIdAndStatus" resultType="com.sky.vo.UserCouponVO">
        select
            uc.id,
            uc.user_id,
            uc.coupon_template_id,
            uc.coupon_code,
            uc.coupon_status,
            uc.order_id,
            uc.receive_time,
            uc.used_time,
            uc.expire_time,
            uc.create_time,
            uc.update_time,
            ct.coupon_name,
            ct.coupon_type,
            ct.threshold_amount,
            ct.discount_amount,
            ct.discount_rate,
            ct.end_time
        from user_coupon uc
        left join coupon_template ct on uc.coupon_template_id = ct.id
        where uc.user_id = #{userId}
        <if test="couponStatus != null">
            and uc.coupon_status = #{couponStatus}
        </if>
        order by uc.id desc
    </select>
</mapper>
